<div class="column">
  <h2>Manage</h2>
  <ul>
    <li><a href="/admin/users">Manage users</a></li>
    <li><a href="/admin/repos">Manage repositories</a></li>
  </ul>
</div>

<div class="column">
  <h2>Diagnostics &amp; troubleshooting</h2>
  <ul>
    <li><a href="/admin/diagnostics">Barkeep stats and logs</a></li>
    <li><a href="/resque">Resque (background jobs) dashboard</a></li>
    <li><a href="/statusz">Barkeep statusz (deploy-time information)</a></li>
  </ul>
</div>