# This will get copied to ~/.ssh/config
# It uses a specific SSH key for accessing git.corp.

Host git.corp.ooyala.com
  User git
  IdentityFile ~/.ssh/git_ssh_private_key
  # Don't have ssh prompt you with "Are you sure you want to continue connecting (yes/no)"
  StrictHostKeyChecking no