/dev.db
/tmp/*
/log/*.log
/dump.rdb
/.vagrant
.sass-cache
unicorn.pid

# The config file for deploying Barkeep to Ooyala's internal servers, which we don't check in.
config/deploy_targets/ooyala.rb
config/deploy_targets/demo.rb
