<%
  # The UI which show when a commit has been approved.
  # Params:
  #  - user: the user who approved this commit.
%>
<div id="approvedBanner">
  <button id="disapproveButton" class="fancy">Disapprove Commit</button><br/>
  <div class="approvedBy">Approved by <%= user.name %></div>
</div>
