<form class="commentForm" action="/comment" type="POST">
  <div class="heading"><span class="addAComment">Add a comment</span></div>
  <input type="hidden" name="sha" value="<%= sha %>"/>
  <input type="hidden" name="filename" value="<%= filename %>" />
  <input type="hidden" name="line_number" value="<%= line_number %>" />
  <textarea class="commentText" name="text"></textarea>
  <div class="commentControls">
    <input class="commentSubmit" type="submit" value="Post comment" />
  </div>
</form>
