<form class="commentForm" action="/comment" type="POST">
  <div class="heading">Add a comment</div>
  <input type="hidden" name="sha" value="<%= sha %>"/>
  <input type="hidden" name="filename" value="<%= filename %>" />
  <input type="hidden" name="line_number" value="<%= line_number %>" />
  <div class="body">
    <textarea class="commentText" name="text"></textarea>
  </div>
  <div class="commentControls">
    <input class="commentSubmit" type="submit" value="Submit" />
  </div>
</form>
