<% context_extra_class = "topExpander" if top
   context_extra_class = "bottomExpander" if bottom
   context_extra_class ||= ""
   inner_class  = incremental ? "incrementalExpansion" : "" %>


<tr class="contextExpander <%= context_extra_class %>">
  <td colspan="3">
    <div class="expandContainer <%= inner_class %>">
      <% if incremental %>
        <span class="expandLink above">Show 10 Above</span>&nbsp;&nbsp;|&nbsp;&nbsp;
      <% end %>
      <span class="expandLink all">Show All</span>
      <% if incremental %>
        &nbsp;&nbsp;|&nbsp;&nbsp;<span class="expandLink below">Show 10 Below</span>
      <% end %>
    </div>
  </td>
</tr>
