<% global_shortcuts, view_shortcuts = KeyboardShortcuts.shortcuts(view) %>
<div class="kbShortcuts overlay"><div class="cellWrapper"><div class="container">
  <div class="shortcuts">
    <div class="title">Keyboard Shortcuts</div><div class="close"><a href="#">X</a></div>
    <table class="tableWrapper">
      <tr>
        <% [["left", global_shortcuts], ["right", view_shortcuts]].each do |position, shortcuts| %>
          <td class="<%= position %> shortcutList">
            <% if shortcuts %>
              <div class="label"><%= shortcuts.keys[0] %></div>
              <table class="shortcutListTable">
                <% shortcuts.values[0].each do |keys, description| %>
                  <tr><td class="keys"><%= keys %></td><td class="description"><%= description %></td></tr>
                <% end %>
              </table>
            <% else %>
              <div class="noShortcuts">No shortcuts for this view.</div>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
</div></div></div>
