<%#
  View arguments:
  - commits: a list of commits to render.
  - title: title of this list of commits, e.g. "Commits by kle".
 %>
<div class="savedSearch">
  <a href="#" class="delete">x</a>
  <div class="metaControls">
    <label><input type="checkbox" name="email_me" />email me with new commits</label>
  </div>
  <h4><%= title %></h4>
  <table class="commitsList">
    <% commits.each do |commit| %>
      <tr>
        <td class="selectArrow"></td>
        <td><a href="#"><div class="avatar"></div></a></td>
        <td><a href="#"><%= commit.author %></a></td>
        <td class="commitId"><a href="#"><%= commit.id_abbrev %></a></td>
        <td><a href="#"><%= commit.short_message %></a></td>
        <!-- TODO(philc): Add commit date. -->
      </tr>
    <% end %>
  </table>
</div>
