<script src="/js/commit_search.js"></script>
<!-- These options apply to all commit lists shown on the page. -->
<div id="filterControls">
  <select name="date_selection">
    <option value="three_days">Last 3 days</option>
    <option value="one_week">Last 1 week</option>
    <option value="one_week">Last 2 weeks</option>
    <option value="one_week" selected>Last 1 month</option>
    <option value="one_week">Last 6 months</option>
    <option value="all_time">All time</option>
  </select>
  <br/>
  <span id="showUnreviewedOnly">
    <input type="checkbox" id="unreviewedOnlyCheckbox"></input>
    <label for="unreviewedOnlyCheckbox">Unreviewed only</label>
  </span>
</div>

<div id="commitSearch" class="embossedPanel">
  <table>
    <tr>
      <td>Search by</td>
      <td>
        <select name="filter_type">
          <option value="authors">authors</option>
          <option value="directories">directories</option>
          <option value="repository">repository</option>
        </select>
      </td>
      <td>
        <input type="text" name="filter_value" value="" />
      </td>
      <td><button class="fancy submit">Search</button></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><div class="example">separate authors by commas</div></td>
      <td></td>
    </tr>
  </table>
</div>

<div id="savedSearches">
  <% saved_searches.each do |saved_search| %>
    <%= erb :_saved_search, :layout => false,
        :locals => { :saved_search => saved_search, :repo => repo, :page_number => 1 } %>
  <% end %>
</div>
