<script src="/js/commit.js"></script>
<div id="commit" sha="<%=commit.sha%>">
  <% tagged_diff.each do |file| %>
    <%= erb :_diff, :locals => { :commit => commit, :file => file } %>
    <br/>
  <% end %>
  <div class="comments">
    <% commit.commit_comments.each do |comment| %>
      <%= erb :_comment, :locals => { :comment => comment } %>
    <% end %>
  </div>
  <%= erb :_comment_form, :locals => {:sha => commit.sha, :filename => nil, :line_number => nil } %>
</div>
