<tr class="contextExpander {{context_extra_class}}" diff-line-number="{{line_number}}-expander">
  <td colspan="3">
    <div class="expandEllipsisContainer">
      <span class="expandEllipsis">&#149;&nbsp;&#149;&nbsp;&#149;</span>
    </div>
    <div class="expandContainer {{expand_inner_class}}">
      {{#incremental}}
        <span class="expandLink above">Show 10 Above</span>&nbsp;&nbsp;|&nbsp;&nbsp;
      {{/incremental}}
      <span class="expandLink all">Show All</span>
      {{#incremental}}
        &nbsp;&nbsp;|&nbsp;&nbsp;<span class="expandLink below">Show 10 Below</span>
      {{/incremental}}
    </div>
  </td>
</tr>
