<!DOCTYPE html>
<html>
<head>
  <title>Barkeep</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="/jquery-1.6.2.js"></script>
  <script src="/jquery-ui-1.8.14.custom.min.js"></script>
  <script src="/jquery.json-2.2.min.js"></script>
  <script src="/livecss.js"></script>

  <script>
    $(document).ready(function() {
      if (jQuery.browser.webkit)
        $("body").addClass("webkit");
      else if (jQuery.browser.mozilla)
        $("body").addClass("gecko");
    });

    var preloadImage = function(url) {
      var image = new Image();
      image.src = url;
    };

    // Preload the icon's on-hover state. Otherwise it flickers for a second while it's loading and you might
    // not see it... which would be tragic.
    preloadImage("/images/barkeep_logo_howdy_80px.png");
  </script>
</head>

<body>
  <header>
      <div id="icon"></div>

      <h1 title="Keep that code bar high.">bar<span class="keep">keep</span></h1>

      <nav>
        <ul>
          <!-- These extra divs are needed for styling. -->
          <li class="currentPage"><div><a href="#">Commits</a></div></li>
          <li><div><a href="#">My Profile</a></div></li>
        </ul>
      </nav>

      <div id="signInBox">
        <a href="#">Sign out</a>
      </div>
  </header>

  <div id="body">
    <%= yield %>
  </div>
</body>

</html>
