<!DOCTYPE html>
<html>
<head>
  <title>Barkeep</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="/jquery-1.6.2.js"></script>
  <script src="/jquery-ui-1.8.14.custom.min.js"></script>
  <script src="/livecss.js"></script>
</head>

<body>
  <header>
      <div id="logo">icon</div>

      <nav>
        <!-- NOTE(philc): For now, we're just using buttons in the UI for demo styling purposes.
             use nav and anchors in the future. -->
        <button>Commits</button>
        <button>My Profile</button>
        <!--
        <ul>
          <li><a href="#">Commits</a></li>
          <li><a href="#">My Profile</a></li>
        </ul>
        -->
      </nav>

      <div id="signInBox">
        <a href="#">Sign out</a>
      </div>
  </header>

  <div id="body">
    <%= yield %>
  </div>
</body>

</html>
