<!DOCTYPE html>
<html>
<head>
  <title>Barkeep</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="/jquery-1.6.2.js"></script>
  <script src="/jquery-ui-1.8.14.custom.min.js"></script>
  <script src="/livecss.js"></script>
</head>

<body>
  <header>
      <div id="logo">icon</div>

      <nav>
        <ul>
          <!-- These extra divs are needed for styling. -->
          <li class="currentPage"><div><a href="#">Commits</a></div></li>
          <li><div><a href="#">My Profile</a></div></li>
        </ul>
      </nav>

      <div id="signInBox">
        <a href="#">Sign out</a>
      </div>
  </header>

  <div id="body">
    <%= yield %>
  </div>
</body>

</html>
