<!DOCTYPE html>
<html>
<head>
  <title>shhh</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="https://github.com/ooyala/livecss/raw/master/livecss.js"></script>
</head>

<body>
  <header>
    <div id="logo">[ Logo ]</div>

    <div id="signInBox">
      <a href="#">Sign out</a>
    </div>
  </header>

  <div id="body">
    <%= yield %>
  </div>
</body>

</html>
