<%
  # Prilfe of a user. This can display things like most recent commits,
  # most recent code reviews, total number of code reviews, how many code reviews
  # compared with other users...
  #
  # Parameters:
  #   user - the user who's profile you're viewing
%>

<div id="profile">
  <p>Viewing profile for <%= user.name %></p>
</div>
