<%#
  View params:
   - openid_providers: a list of OpenID provider URLs
 %>
<div id="selectOpenIdProvider">
  <h2>Select one of these services to sign in with:</h2>
  <ol id="openIdProviders">
    <% openid_providers.each_with_index do |provider_url, index| %>
      <li>
        <a href="/signin/signin_using_openid_provider?provider_id=<%= index %>">
          <%= URI.parse(provider_url).host %>
        </a>
      </li>
    <% end %>
  </ol>
</div>