<%#
  # A very simple status route to check the relevant deploy info, including which commits are present in the
  # live code.
%>

<script type="text/javascript">
  function shaSubmit(field, e) {
    var keycode;
    if (window.event) keycode = window.event.keyCode;
    else if (e) keycode = e.which;
    else return true;

    if (keycode == 13) {
      window.foobar = field;
      $.get("/statusz/" + field.value, function(data) { $("#statuszSearchResult").html(data); });
    } else return true;
  }
</script>
<pre>
<%= Statusz.summary_info %>

Search for a commit:
<input type="text" name="sha" size=50 value="" onKeyPress="return shaSubmit(this, event);"/>

<div id="statuszSearchResult"></div>
</pre>
