@import "css/mixins";

#failedEmails { width: 100%; }

#manageUsers, #repos {
  div.trash {
    margin-top: 3px;
    margin-bottom: -3px;
    display: inline-block;
    width: 20px;
    height: 25px;
    cursor: pointer;
    background: url(/assets/images/trash.png) no-repeat;
    opacity: 0.3;
    &:hover { opacity: 1.0; }
  }

  table {
    td:last-child { text-align: center; }
  }
}

#manageUsers {
  table {
    margin-top: 20px;
    border-collapse: collapse;

    th { padding-bottom: 5px; }

    td {
      font-size: 12px;
      padding: 10px;
      border: $standardBorder;
    }
  }
  input[type="radio"] {
    display: inline-block;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
  }

  label { cursor: pointer; }
}

#repos {
  #confirmationMessage {
    margin: 10px 0;
    padding: 10px;
    background-color: #FFF7B1;
    border: 1px dashed #333;
    display: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      text-align: left;
      padding-left: 10px;
    }

    td:first-of-type { font-weight: bold; }
    td.newestFetched { width: 200px; }
    td.delete { width: 45px; }

    .commitSha {
      display: inline-block;
      width: 90px;
    }
    .commitDate { color: #777; }
  }

  #cloneForm {
    label { font-weight: bold; }
    input {
      width: 450px;
      font-size: 18px;
      margin: 8px 0;
    }
    button {
      padding: 4px 6px;
      font-size: 14px;
    }
    .note {
      color: gray;
      font-style: italic;
      font-size: 14px;
    }
  }

  .logFile {
    max-height: 600px;
    overflow: auto;
    font-family: monospace;
  }
}
