#admin {
  td {
    padding: 10px;
    border: 1px solid #e0e0e0;
  }

  #failedEmails { width: 100%; }

  .column {
    box-sizing: border-box;
    padding-right: 20px;
    width: 50%;
    float: left;
    vertical-align: top;
  }
}

#manageUsers {
  table {
    margin-top: 20px;
    border-collapse: collapse;

    th { padding-bottom: 5px; }

    td {
      font-size: 12px;
      padding: 10px;
      border: 1px solid #e0e0e0;
    }
  }
  input[type="radio"] {
    display: inline-block;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
  }

  label { cursor: pointer; }
}


#repos {
  #confirmationMessage {
    margin: 10px 0;
    padding: 10px;
    background-color: #FFF7B1;
    border: 1px dashed #333;
    display: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      text-align: left;
      padding-left: 10px;
    }

    td:first-of-type { font-weight: bold; }

    .commitSha {
      display: inline-block;
      width: 90px;
    }
    .commitDate { color: #777; }

    td:last-of-type {
      opacity: 0.3;
      &:hover { opacity: 1.0; }
    }

    .trash {
      margin-left: 10px;
      width: 20px;
      height: 25px;
      cursor: pointer;
      background: url(/images/trash.png) no-repeat;
    }
  }

  #cloneForm {
    label { font-weight: bold; }
    input {
      width: 450px;
      font-size: 18px;
      margin: 8px 0;
    }
    button {
      padding: 4px 6px;
      font-size: 14px;
    }
    .note {
      color: gray;
      font-style: italic;
      font-size: 14px;
    }
  }

  .logFile {
    max-height: 600px;
    overflow: auto;
    font-family: monospace;
  }
}
