@pageWidth: 930px;

// Colors
// TODO(caleb): Get more consistency by creating a named color palette
@highlightBlue: #8dbcd5;
@highlightOrange: #e98;

body {
  background-color: #white;
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

a:visited { color: blue; }

// A namespace to store some common functionality
#global {
  .flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: box;
  }

  .horizontalFlexbox {
    #global > .flexbox;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
  }

  .verticalFlexbox {
    #global > .flexbox;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
  }

  .boxFlex (@flex: 1) {
    -webkit-box-flex: @flex;
    -moz-box-flex: @flex;
    box-flex: @flex;
  }

  .boxAlign (@align) {
    -webkit-box-align: @align;
    -moz-box-align: @align;
    box-align: @align;
  }

  .verticalGradient(@start, @stop) {
    background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@stop));
    background: -webkit-linear-gradient(@start, @stop);
    background: -moz-linear-gradient(center top, @start 0%, @stop 100%);
    background: -moz-gradient(center top, @start 0%, @stop 100%);
  }

  .insetBoxShadow (@x: 0, @y: 0, @blur: 1px, @color) {
    @val: @x @y @blur @color;
    box-shadow:inset @val;
    -webkit-box-shadow:inset @val;
    -moz-box-shadow:inset @val;
  }

  .disableBoxShadow {
    box-shadow:inset none;
    -webkit-box-shadow:inset none;
    -moz-box-shadow:inset none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .button(@size) {
    font-size: @size;
    padding: 0 8px;
    #global > .verticalGradient(#eee, #ccc);
    border: 1px solid #aaa;
    text-shadow: white 1px 1px 0;
    &:hover, &.hover {
      border-color: @highlightBlue;
      #global > .insetBoxShadow(0, 0, 8px, @highlightBlue);
    }
    &:active, &.active {
      border-color: @highlightBlue;
      #global > .verticalGradient(#ccc, #eee);
    }
    &.depressed {
      @baseColor: darken(@highlightBlue, 10%);
      #global > .verticalGradient(darken(@baseColor, 30%), @baseColor);
      color: #eee;
      text-shadow: darken(@baseColor, 30%) -1px -1px 0;
      &:hover, &.hover {
        #global > .insetBoxShadow(0, 0, 8px, white);
      }
      &:active, &.active {
        #global > .verticalGradient(#ccc, #eee);
        color: black;
        text-shadow: white 1px 1px 0;
        border-color: @highlightBlue;
        #global > .insetBoxShadow(0, 0, 8px, @highlightBlue);
      }
    }
    &.disabled {
      border-color: #ccc;
      color: #666;
      #global > .verticalGradient(#eee, #eee);
      &:hover, &.hover { #global > .disableBoxShadow; }
      &:active, &.active { #global > .disableBoxShadow; }
    }
  }
}

header {
  position: relative;
  width: @pageWidth;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;

  #logo {
    border: 1px solid @highlightOrange;
    float: left;
    border: 1px solid #ccc;
    background-color: #ddd;
    width: 80px;
    height: 40px;
    text-align: center;
  }

  nav {
    margin-left: 50px;
    float: left;
    ul li {
      list-style-type: none;
      display: inline-block;
    }

    button {
      #global > .button(18px);
      height: 42px;
    }
  }

  #signInBox {
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 13px;
  }
}

#body {
  clear: both;
  width: @pageWidth;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}

@savedSearchMargin: 20px;

.savedSearchPlaceholder {
  border: 0;
  border-top: 4px dashed #ccc;
  margin-bottom: @savedSearchMargin;
}

.handle { cursor: move; }

.savedSearch {
  @background: #f7f7f7;
  @bars: darken(@background, 10%);
  background-color: @background;
  margin-bottom: @savedSearchMargin;

  .topBar, .bottomBar {
    #global > .horizontalFlexbox;
    padding: 5px;
    background-color: @bars;
  }

  .bottomBar { font-size: 12px; }

  .title {
    #global > .horizontalFlexbox;
    #global > .boxFlex(1);
  }
  .delete {
    text-align: right;
  }
  .pagingButtons {
    #global > .horizontalFlexbox;
    #global > .boxFlex(1);
    text-align: center;
    button {
      #global > .button(14px);
      height: 20px;
    }
  }
  .email {
    button {
      #global > .button(12px);
      height: 20px;
      margin-left: 5px;
      width: 35px;
      padding-right: 0;
      padding-left: 0;
      text-align: center;
    }
  }
  a.delete {
    text-decoration: none;
    color: @highlightOrange;
    font-weight: bold;
    &:hover { color: darken(@highlightOrange, 10%); }
  }
}

/*
 * Styles for list of commits
 */
table.commitsList {
  width: 100%;
  .avatar {
    display: inline-block;
    border: 1px solid #bbb;
    background-color: #eee;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 4px;
    padding-right: 0px;
  }
  // TODO(caleb): Revisit the sketchy width settings in this table
  td {
    padding-right: 5px;
    &.author {
      width: 150px;
      white-space: nowrap;
    }
    &.commitId a {
      text-align: right;
      width: 95px;
      color: #777;
    }
    &.commitMessage {
      width: 550px;
      /* Commit messages can be very long. Truncate them just by not letting them flow out of the container. */
      a {
        display:block;
        width: 100%;
        overflow: hidden;
        line-height: 100%;
        height: 1.1em;
      }
    }
    &.commitDate {
      width: 100px;
      text-align: right;
      a { color: #777; }
    }
  }
  a {
    text-decoration: none;
    color: black;
    &:hover { text-decoration: underline; }
  }

  .selectArrow {
    width: 10px;
    height: 10px;
  }
  .selected .selectArrow {
    background: url(/images/right_arrow.png) no-repeat 0px 5px;
  }
}

/*
 * Layout for the commits dashboard page.
 */
#filterControls {
  position: absolute;
  right: 0;

  #showUnreviewedOnly {
    font-size: 12px;
    white-space: nowrap;
  }
}

#commitSearch {
  background-color: #fbfbfb;
  border: 1px solid #e0e0e0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  width: 80%;
  table { border-collapse: collapse; }
  td {
    height: 16px;
    padding: 0 3px;
    &:first-of-type { padding-left: 0; }
  }
  margin-bottom: 20px;

  input[name=filter_value] {
    height: 100%;
    width: 200px;
    font-size: 14px;
  }
  select {
    font-size: 16px;
  }
  button.submit {
    #global > .button(16px);
    height: 100%;
    font-size: 16px;
    margin: 4px;
  }
  .example {
    color: #999;
    font-size: 12px;
  }
}
